body {
  display: initial !important;
}

#about {
  margin-top: 20px;
}

#hero-form {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  #hero-form {
    max-width: 100%;
  }
}

.fab-container {
  right: 2vw !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.logo {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.each-service-div {
  padding-top: 10px;
}

.booking-card {
  position: relative;
  width: 18rem;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.booking-card .card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transition: opacity 0.3s ease;
  padding: 1rem;
  text-align: left;
}

.booking-card h5,
.booking-card p {
  color: #fff;
  text-align: left;
  bottom: 0;
}

.booking-card h5 {
  position: absolute;
  bottom: 125px;
}

.booking-card p {
  position: absolute;
  bottom: 0px;
}

.col {
  margin-top: 30px;
}

.card-img {
  height: 100%;
}

@media (max-width: 767px) {
  .service-details .col {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
}

.tailwind-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.max-h-11 {
  max-height: 13.5rem !important;
}
.collapse {
  visibility: visible !important;
}

.logo-container {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  left: 70px; /* Adjust the left position as needed */
  z-index: 1;
}

.fixed-logo {
  width: 200px; /* Adjust the width as needed */
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fab-container:hover .fab-item:not(:last-child) {
  height: 50px !important;
}

.fab-item {
  border-radius: 50% !important;
}

.margin-top-200 {
  margin-top: 225px;
}

.margin-top-100 {
  margin-top: 100px;
}

.input-text {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: black;
  color: white;
  border-radius: 0px;
}
